<% layout('layouts/boilerplate') %>

    <h1>All Routes</h1>
    <div><a href="/routes/new">Add Route</a></div>
    <ul>
        <% for (let route of routes) { %>
            <li>
                <a href="/routes/<%= route._id %>"><%= route.title %></a>
            </li>
        <% }%>
    </ul>
