<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routes</title>
</head>

<body>
    <h1>All Routes</h1>
    <div><a href="/routes/new">Add Route</a></div>
    <ul>
        <% for (let route of routes) { %>
            <li>
                <a href="/routes/<%= route._id %>"><%= route.title %></a>
            </li>
        <% }%>
    </ul>
</body>

</html>