<% layout('layouts/boilerplate') %>

    <h1>Add new Route</h1>
    <form action="/routes" method="POST">
        <div>
            <lable for="title">Title</lable>
            <input type="text" id="title" name="route[title]">
        </div>
        <div>
            <lable for="location">location</lable>
            <input type="text" id="location" name="route[location]">
        </div>
        <button>Add Route</button>
    </form>
    <a href="/routes">All Routes</a>
