<% layout('layouts/boilerplate') %>

    <h1><%= route.title %></h1>
    <h2><%= route.location %></h2>
    <p><a href="/routes/<%=route._id %>/edit">Edit</a></p>
    <p>
        <form action="/routes/<%=route._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/routes">All Routes</a>
    </footer>
